.header{
    text-align: center;
    font-size: 50px;
    color: mediumpurple;
    font-family: monospace;
}

h1{
    font-size: 50px;
}

p{
    background-color: gold;
    color: royalblue;
}

body{
    background-image: url(https://lh3.googleusercontent.com/proxy/eH7IKOruyeLiVX6DHCnPRje29roiZEXrJfaiH93W3mo0K5_qSrFgW6qJqxiMbdqARIR5rbmcu5ZBH7ak-eOWGfjQALnzBzRaob9fXO7-jt8Q8tSIm660V4yQaRT3epnPeLXi57_Q85358S86isJ0N7REqB6GF0w);
}
